<h1 style="color: white; background-color: #EE4D64; padding: 20px;">
  Answer to your help order
</h1>
<h2>Hello, {{student}}</h2>
<p>
  Your help order has been answered! Find it below:
</p>
<p>
  <strong>Question: </strong>{{question}}
</p>
<p>
  <strong>Answer: </strong>{{answer}}
</p>
